*{
    margin: 0%;
    padding: 0%;
}
body {background-color: rgb(1, 32, 8)}

.head{color: white;
    margin-top: 25px;
    font-size: 85px;
    text-align: center;
}


.container .row .image:hover{background-color: rgb(5, 112, 14);
cursor: pointer;}



.container{
    margin-top: 10px;
    color: rgb(248, 245, 239);
}

.container .row{
    display: flex;
    justify-content: center;
}

.container .row .image{
    margin-inline: 5px;
    justify-content: center;
    text-align: center;
      
}

.container .row .image img{
    border-radius: 10px;
    width: 450;
    height: 320;
    margin: 8px;
    border-color: rgb(8, 6, 0);
    border-style: solid;
    
}


.container .row .image h3{
    font-size: 25px;
    margin-top: 5px;

}

.container .row .image p{
    font-size: 20px;
    margin-top: 5px;
}
