body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 32, 8);
}

.Slider{
    width: 800px;
    height: 500px;
    border-radius: 10px; 
    overflow: hidden;
}

.Slides{
    width: 500px;
    height: 500px;
    display: flex;
}

.Slides input{
    display: none;
}

.slide{
    width: 800px;
    height: 500px;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
    
}

.navigation-manul{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manul-btn{
    border: 2px solid #2705bd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manul-btn:not(:last-child){
    margin-right: 40px;
}

.manul-btn:hover{
    background: #2705bd;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -160%;
}

#radio3:checked ~ .first{
    margin-left: -320%;
}

#radio4:checked ~ .first{
    margin-left: -480%;
}

.navigation-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #2705bd;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto.btn1{
    background: #2705bd; 
}

#radio2:checked ~ .navigation-auto .auto.btn2{
    background: #2705bd; 
}

#radio3:checked ~ .navigation-auto .auto.btn3{
    background: #2705bd; 
}

#radio4:checked ~ .navigation-auto .auto.btn4{
    background: #2705bd; 
}