*{
    margin: 0%;
    padding: 0%;
}

body {background-color: rgb(1, 32, 8)}

.image img{
    border-radius: 10px;
    width: 1080;
    height: 720;
    margin: 8px;
    border-color: rgb(8, 6, 0);
    border-style: solid;
}